.search-page
    display: flex
    flex-direction: column
    align-items: center
    h1
        text-align: center
        margin: 20px 0
.ant-input
    width: 80%

.box-results
    display: flex
    flex-direction: column
    align-items: center
    height: 75vh
    justify-content: space-between